body {
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: left;
    font-size: large;
}

input {
    background-color: rgb(36, 36, 36);
    border: none;
    border-radius: 12px;
    padding: 10px;
    color: white;
}

textarea {
    background-color: rgb(36, 36, 36);
    border: none;
    border-radius: 12px;
    padding: 10px;
    color: white;
}

button {
    width: 125px;
    color: white;
    background-color: rgb(36, 36, 36);
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: larger;
}

button:hover {
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}