body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.image-section > img {
    width: 500px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.genres {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.genres > a {
    border-radius: 12px;
    text-decoration: none;
    font-size: large;
    color: rgb(68, 147, 248);
    background-color: rgba(56, 139, 253, 0.1);
}