/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h4, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h4, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/*Main personal CSS starts here*/  

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    max-height: 100vh;
}


aside {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    background-color: #1993D5;
    color: white;
    border: 1px solid black;
}

aside > div {
    margin: 15px;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid black;
    background-color: #E2E8F0;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

.dashboard {
    display: flex;
    flex-direction: row;
}


.nav, .nav2 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.nav > div, .nav2 > div {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.side-icon {
    width: 1.5em;
    filter: invert(100%) sepia(0%) saturate(5992%) hue-rotate(269deg) brightness(114%) contrast(103%);
}

.side-icon.large {
    width: 2.5em;
}

.announcements, .trending, .projects {
    margin: 1em;
}

.ann-section{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: white;
    padding: 3em 2em;
    border-radius: 7px;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.ann-section > div {
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
}


.trend-section {
    font-size: 0.55em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: white;
    padding: 2em 2em;
    border-radius: 7px;
    width: 70%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.acc-img {
    width: 3em;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
    height: 90%;
}

.project {
    background: linear-gradient(to right, #F1B428 0%, #F1B428 2%, white 2%, white 100%);
    border-radius: 5px;
    padding: 2em 2em;
    font-size: 0.75em;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.proj-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.proj-icons > img {
    width: 2em;
}


.top-head {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em 2em;

}

.top-head > img {
    width: 1.5em;
}

.search-bar {
    width: 50%;
    border-radius: 15px;
    background-color: #E2E8F0;
    margin-right: 150px;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em 3em;
}

.user > img {
    width: 3em;
}

.bottom-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20em;
}

.welcome-content {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.options-btn {
    color: white;
    background-color: #1993DF;
    border: none;
    border-radius: 20px;
    height: 2em;
    width: 5em;
    margin: auto
}