/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h4, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h4, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/*Main personal CSS starts here*/  

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
}

aside {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    background-color: #1993D5;
    color: white;
    border: 1px solid black;
}

aside > div {
    margin: 15px;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid black;
}

main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid black;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

.dashboard {
    display: flex;
    flex-direction: row;
}


.nav, .nav2 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.nav > div, .nav2 > div {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.side-icon {
    width: 1.5em;
    filter: invert(100%) sepia(0%) saturate(5992%) hue-rotate(269deg) brightness(114%) contrast(103%);
}

.side-icon.large {
    width: 2.5em;
}