*{
    box-sizing: border-box;
}

#main-heading{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container{
    text-align: center;
}


.container{
    border:2px solid black;
    display: inline;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    width: 100px;

}

.recipe{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
