<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
</head>
<body>
    <aside id="sidebar">
        <ul class="sections-list">
            <li class="section">Home</li>
            <li class="section">Today</li>
            <li class="section">Week</li>
            <li class="section">Projects</li>
            <li class="section">Notes</li>
        </ul>
        <img src="../../images/plus.svg" id="add-new">
        
    </aside>
    <header>
        <h1>To-Do App</h1>
        <img src="../../images/head-icon.png" alt="Task icon">
    </header>
    <main>
        <div id="todo-container">

        </div>
    </main>
    
</body>
</html>