.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}