/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family: sans-serif;
}


header{
    background-color: rgb(255, 251, 251);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
    display: flex;
    justify-content: center;
}

header > h1{
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F1EFF1;
}

main > h3 {
    margin-top: 1.5em;
}



.tile-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 55%;
    width: 25%;
    gap: 10px;
}

.btn {
    border-radius: 10px;
}

.tile {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.tile:hover{
    cursor: pointer;
}


dialog{
    width: 25%;
    height: 35%;
    margin: auto;
    border-radius: 10px;
    font-size: 1.3em;
    text-align: center;
}


dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#submit-form {
    width: 40%;
    margin: auto;
}

input{
    border-radius: 10px;
}

#reset{
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    background-color: lightgreen;
    color: black;
    font-family: sans-serif;
    width: 7em;
    height: 2em;
}

#reset:hover{
    opacity: 0.5;
    cursor: pointer;
}