.input {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
    color: black;
    padding: 0;
}

label {
    font-weight: 700;
}

input {
    border-radius: 12px;
    background-color: rgb(238, 240, 244);
    padding: 10px;
    width: 100%;
    color: black;
    border: none;
}

input:focus {
    outline: none;
}