<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Page</title>
</head>
<body>
    <img src="../../images/bg.jpg" id="bg-image">
   <header>
    <h1>The Crooked Knife</h1>
    <nav>
        <button class="btn current">Home</button>
        <button class="btn">Menu</button>
        <button class="btn">Contact</button>
    </nav>
   </header> 
   <div id="content"></div>
</body>
</html>