.shop {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-container > h1 {
    border-bottom: 5px solid white;
}

.clicked {
    background: linear-gradient(90deg, #3498db, #9b59b6);
}