header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 0.5em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: large;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-top: 1px solid grey;
}

.hero {
    display: flex;
    border-right: 1px solid grey;
}

.image > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 4em;
}

.content > p {
    font-size: large;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.btn {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.75em;
    background-color: blueviolet;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.75;
    text-decoration: none;
}